@font-face {
	font-family: "titulo_error";
    src: url("../fonts/ttf/Choko.ttf");
}
html, *{
	text-decoration: none;
	color: black;
	margin:0;
	padding:0;
}
#cabecera{
	width:100%;
	height:10vh;
	background-color:#FFBD2E;
	display:flex;
	justify-content:space-between;
}
#cabecera #logo{
	width:70%;
	height:10vh;
}
#cabecera #logo img{
	height:10vh;
	margin-left:5%;
}
#cabecera .container2{
	width:30%;
	height:10vh;
	text-align:center;
}
#cabecera .container2 #form{
	width:100%;
	height:10vh;
	display: flex;
}
#cabecera .container2 #form h4{
	width: 100%;
	line-height:10vh;
}
#cabecera .container2 #login:hover{
	cursor: pointer;
	background-color:#FC9423;
}
#cabecera .container2 #register:hover{
	cursor: pointer;
	background-color:#FC9423;
}
.container1{
	width:100%;
	min-height:85vh;
	background-image: url("../img/F2.jpg");
	z-index:1;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center
}
.container1 #l_nene{
	width:20%;
	height:70vh;
	background-color:#FFBD2E;
	margin-right:2.5%;
	display:flex;
	align-items:center;
}
.container1 #l_nene img{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
.container1 #l_padre{
	width:20%;
	height:70vh;
	background-color:#FFBD2E;
	margin-left:2.5%;
	display:flex;
	align-items:center;
}
.container1 #l_padre img{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
#li_desplegable{
	margin-left: 50%;
	width:50%;
	height:auto;
	background-color:#FFBD2E;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	border-radius: 0 0 0 8px;
}
#li_desplegable input{
	margin-top:0.5vh;
	margin-bottom:0.5vh;
	width:100%;
}
#li_desplegable #login_submit{
	margin-bottom:10%;
	font-size: 15px;
	background-color: #60C255;
	border-radius: 8px;
	border: 1px solid green;
	color: #184006;
	height: 4vh;
	cursor: pointer;
}
.container3{
	width:100%;
	min-height:100vh;
	background-color:#E6E6E6;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.container3 #lc{
	width:20%;
	min-height:100vh;
	border-right:0.5px solid black;
}
.container3 #ac{
	width:30%;
	min-height:100vh;
	border-right:0.5px solid black;
}
.container3 #au{
	width:50%;
	min-height:100vh;
}
.container3 #nu{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.container3 #nu input{
	margin-top:0.5vh;
	margin-bottom:0.5vh;
	height:25px;
	width:100%;
}
.container3 #nu select{
	height:25px;
	width:100%;
}
#err{
	font-family:"titulo_error";
}
#err h1{
	font-size:50px;
}

.btn-1 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
  background-color:#6DC2DE;
  font-family:verdana;
}

.btn-1:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;
}

.btn-1:hover:before {
  left:95%;
}


footer{
	width:100%;
	height:12vh;
	background-color:#63625F;
	color:#F0EFED;
	text-align:center;
}